{% extends 'base.html.twig' %}

{% block body %}
    <h1>Address creation</h1>


    {{ dump(form) }}


    {{ form_start(form) }}


    <div class="form-group">
        {{ form_label(form.alias, form.alias, {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}

        <div class="col-md-3 col-sm-4">
            {{ form_widget(form.alias, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.alias) }}
    </div>




    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('address_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
